$('#task-list').append(`<li class="list-group-item d-flex justify-content-between align-items-center" id="task-<%=@task_category.id%>">
            <%= @task_category.task_name %>
            <i class="fa fa-trash btn btn-danger del-task-category" value="<%= @task_category.id%>"></i>
          </li>`)

$('.del-task-category').on('click',function(){
  console.log($(this).attr('value'))
  removeCategory($(this).attr('value'))
})

function removeCategory(_id){

  $.ajax({
    url:'/dashboard/removeTaskCategories',
    method:'DELETE',
    data:{id: _id,authenticity_token: $('meta[name="csrf-token"]').attr('content')},
    success:function(data){
      
    },
    error:function(err){
      
    }

  })
}