$('#employee_list').empty()
$('#employee_list').append(`<% result.each do |item| %>
                <tr>
                  <td><%=item.name+" "+item.surname%></td>
                  <td><%=item.roles%></td>
                  <td><%= item.pending_tasks_count %></td>
                  <td><%= item.working_tasks_count %></td>
                </tr>
                <% end %>`)